@model LoginViewModel;

<form asp-action="Login" method="post">
    <div>
        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName)
    </div>
    
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password)
    </div>
    
    <div>
        @Html.LabelFor(x => x.RememberMe)
        @Html.CheckBoxFor(x => x.RememberMe)
    </div>
    
    <button type="submit">Login</button>
    
    <div id="errorMessages" class="error-messages">
        @Html.ValidationSummary(true, "")
    </div>
</form>